/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
    height: 300vh;
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root{
    --bg: white;
    --text: black;
}

.dark{
    --bg: #2e2e2e;
    --text: #e0e0e0;
}

body h1{
    font-family: "Playfair Display", sans-serif;
}

body p{
    font-family: Arial, Helvetica, sans-serif;
}

#nav-bar-container {
    display: flex;
    padding: 20px;
    width: auto;
    max-width: 1600px;
    height: auto;
    position: sticky;
    top: 0;
    left: 0;
}

.nav-bar{
    display: flex;
    width: 100%;
    background-color: var(--bg);
    color: var(--text);
    min-height: 40px;
    height: auto;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    border-radius: 50px;
    box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0.25);
}

.nav-bar-menu{
    background-color: var(--bg);
    color: var(--text);
    display: flex;
    align-items: center;
    height: auto;
}

.nav-bar-menu span{
    padding: 0 20px;
    background-color: var(--bg);
    color: var(--text);
}

.nav-bar-icons{
    display: flex;
    align-items: center;
}


a{
    text-decoration: none;
    color: var(--text);
}

a:hover{
    text-decoration: none;
    color: var(--text);
}

a:visited{
    text-decoration: none;
    color: var(--text);
}

.hidden{
    display: none;
}

.material-symbols-outlined {
    cursor: pointer;
    margin: 0 10px;
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 24
}

.main-container{
    padding: 20px;
}

.roadmap h1{
    font-size: 36px;
}
.roadmap p{
    font-size: 16px;
}