<div id="nav-bar-container">
    <div class="nav-bar">
        <div class="nav-bar-home">
            <span class="material-symbols-outlined"><a href='/index.html'>home</a></span>
        </div>
        <div class="nav-bar-menu">
            <div><a href='./pages/projects.html'>Projects</a></div>

            <div><a href='/pages/aboutme.html'>About Me</a></div>
            <div class="contactinfo">
                Contact Me
                <li class="dropdown-menu">
                    <ul>LinkedIn</ul>
                    <ul>GitHub</ul>
                    <ul>Email</ul>
                </li>
            </div>
        </div>
        <div class="nav-bar-icons">
            <span class="material-symbols-outlined"><a href="https://buymeacoffee.com/grafcar" target="_blank">local_cafe</a></span>
            <div class="light_mode"><span class="material-symbols-outlined">light_mode</span></div>
            <div class="dark_mode hidden"><span class="material-symbols-outlined">dark_mode</span></div>
        </div>
    </div>
</div>